.page
{
    text-align: left;
    outline: 0px solid red;
}
.about
{
    outline: 0px solid blue;
}
.about .desc
{
    padding: 20px 0 20px 0;
}
.about .desc img
{
    width: 110px;
    height: auto;
}
@media all and (max-width: 900px)
{
    .page
    {
        width: 98%;
        padding: 1%;
    }
    .page h2,
    .about .desc
    {
        text-align: center;
    }
    .about .desc img
    {
        display: none;
    }
}

.yes
{
    color: rgba(0,150,0,1);
}
.no
{
    color: rgba(150,0,0,1);
}
.note
{
    color: rgba(255,0,0,1);
    font-weight: bold;
}
.name
{
    color: rgba(0,0,150,1);
    font-weight: bold;
}
