body 
{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Tahoma, helvetica, sans-serif;
    font-size: 16px;
    background: white;
    outline: 0px solid blue;
}
p
{
    margin-top: 0;
}

.page
{
    display: inline-block;
    max-width: 900px;
}

.desc_box
{
    display: inline-block;
    text-align: center;
    outline: 0px solid green;
}
.desc_box .desc_img
{
    width: 44%;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px;
    outline: 0px solid blue;
    vertical-align: middle;
    text-align: right;
}
.desc_box .desc_img img
{
    width: 100%;
}
.desc_box .desc
{
    padding: 20px;
    display: inline-block;
    box-sizing: border-box;
    width: 55%;
    color: rgba(0,0,0,0.9);
    font-size: 120%;
    text-align: left;
    outline: 0px solid red;
    vertical-align: middle;
}
@media all and (max-width: 500px)
{
    .desc_box
    {
        padding: 0;
        margin: 0;
        text-align: center;
    }
    .desc_box .desc_img,
    .desc_box .desc
    {
        padding: 2%;
        margin: 0;
        width: 95%;
        text-align: center;
    }
}

.about
{
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    outline: 0px solid green;
}
.about .desc
{
    display: inline-block;
    box-sizing: border-box;
    width: 99%;
    padding: 20px;
    font-size: 120%;
    outline: 0px solid green;
    vertical-align: top;
    text-align: left;
}
.about .desc img
{
    float: left;
    margin: 10px 20px 10px 0;
    width: 140px;
    height: 140px;
}
@media all and (max-width: 500px)
{
    .about .desc img
    {
        width: 70px;
        height: 70px;
    }
}

.menu
{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    outline: 0px solid red;
    background: linear-gradient(180deg, #ddd, transparent);
    margin-bottom: 20px;                
}
@media all and (max-width: 500px)
{
    .menu
    {
        margin-bottom: 0;
    }
}
.menu a,
.menu a:active,
.menu a:visited,
.menu div.lang_selector
{
    display: inline-block;
    box-sizing: border-box;
    height: 50px;
    padding: 5px;
    margin: 4px;
    border-radius: 10px;
    text-decoration: none;
    background: white;
    color: black;
    vertical-align: top;
    box-shadow: 0 0 10px #bbb;
}
.menu a:hover
{
    animation: hover1 0.2s ease-in-out 1 forwards;
}
.menu a.active
{
    box-shadow: 0 0 10px #009;
}
@keyframes hover1
{ 
    0%   { box-shadow: 0 0 10px #bbb; }
    100% { box-shadow: 0 0 15px #000; }
}
.menu a img
{
    width: 40px;
    height: 40px;
}
.menu a div
{
    display: table-cell;
    vertical-align: middle;
    outline: 0px solid blue;
    font-size: 90%;
    height: 40px;
    padding: 0 5px 0 5px;
}
.menu a.donate
{
    color: #0A0;
}
.menu a.donate:hover
{
    color: #F80;
}

.footer
{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    outline: 0px solid red;
    background: linear-gradient(0deg, #ddd, transparent);
    margin-top: 20px;
}

.wnY7xC::before { content: "ma"; }
