.motor1,
.motor_p1
{
    width: 150px;
    height: 150px;
    background-size: 150px 150px;
}
.motor1
{
    display: inline-block;
    background-image: url(/img/stepper_motor.png);
    transform: rotate(4deg);
    margin: 5px;
}
.motor_p1
{
    background-image: url(/img/stepper_motor_p1.png);
    animation: spin1 4s linear infinite;
}
@keyframes spin1 { 100% { transform:rotate(360deg); } }

.motor2,
.motor_p2
{
    width: 100px;
    height: 100px;
    background-size: 100px 100px;
}
.motor2
{
    display: inline-block;
    background-image: url(/img/stepper_motor.png);
    transform: rotate(11deg);
    margin: 5px;
}
.motor_p2
{
    background-image: url(/img/stepper_motor_p2.png);
    animation: spin2 7s ease-in-out infinite;
}
@keyframes spin2 
{ 
    50% { transform:rotate(2160deg); }
    100% { transform:rotate(0deg); }
}

.disp_kb_ms
{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 233px;
    background-size: 350px 233px;
    background-image: url(/img/disp_kb_ms.png);
    background-repeat: no-repeat;
    outline: 0px solid red;
}
.machinekit
{
    width: 80px;
    height: 80px;
    position: absolute;
    left: 40px;
    top: 38px;
    display: inline-block;
    background-image: url(/img/machinekit.png);
    background-size: 80px 80px;
    outline: 0px solid blue;
    animation: spin1 30s linear infinite;
}
.linuxcnc
{
    width: 100px;
    height: 80px;
    position: absolute;
    left: 130px;
    top: 38px;
    display: inline-block;
    background-image: url(/img/linuxcnc.png);
    background-size: 100px 80px;
    outline: 0px solid green;
    animation: blink1 4s ease-in-out infinite;
}
@keyframes blink1 
{ 
    0% { opacity: 1.0; }
    80% { opacity: 0.2; }
    100% { opacity: 1.0; }
}
@media all and (max-width: 500px)
{
    .disp_kb_ms
    {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}
